@tailwind base;
@tailwind components;


a {
  @apply text-blue-700;
}

a:hover {
  @apply text-blue-900;
}

.under-line {
  @apply before:content-[''] before:w-full before:h-[2px] before:absolute before:left-0 before:bottom-0 before:translate-x-[-120%] before:hover:translate-x-0 before:transition-transform before:duration-300 before:bg-[#09a4eb] before:rounded-full
}

.swiper {
  @apply !w-full !h-full !mx-auto
}

.swiper-pagination {
  @apply !relative mt-4
}

.swiper-pagination-bullet {
  @apply !w-3 !h-3
}

.swiper-slide {
  @apply !flex !justify-center !items-center bg-cover bg-center
}

.mySwiper2 .swiper-slide img {
  @apply w-[600px] aspect-square object-cover rounded-lg
}

.mySwiper3 {
  @apply !h-[100px] w-full grid place-items-center
}

.mySwiper3 .swiper-wrapper {
  @apply flex justify-center
}

.mySwiper3 .swiper-slide {
  @apply opacity-30 !w-fit cursor-pointer
}

.mySwiper3 .swiper-slide-thumb-active {
  @apply opacity-100
}

.mySwiper3 .swiper-slide img {
  @apply h-[45px] w-[45px] xs:h-[75px] xs:w-[75px] aspect-square rounded
}

.credit-card {
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, rgba(0,0,0,0.5) 25%, transparent 25.5%, transparent 75%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.5)), linear-gradient(60deg, rgba(0,0,0,0.5) 25%, transparent 25.5%, transparent 75%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.5));
  background-size: 200px 350px;
  background-position: 0 0, 0 0, 100px 175px, 100px 175px, 0 0, 100px 175px;
  background-color: #212121;
}

.card-container {
  perspective: 1600px;
}

.card-3d {
  transform-style: preserve-3d;
  transform-origin: center left;
}

.rotate-card {
  transform: rotateY(180deg) translateX(-100%);
}

.normal-rotate {
  transform: rotateY(180deg);
}

.backface-hide {
  backface-visibility: hidden;
}

.user-profile-option {
  @apply before:absolute before:content-[''] before:left-[-4px] before:w-[4px] before:bg-[#1B4B66] before:animate-move-bar
}

.word-highlight {
  @apply before:absolute before:left-0 before:bottom-0 before:-z-10 before:h-8 before:w-full before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-t before:from-[#FF8C4B] before:to-transparent before:content-['']
}

@tailwind utilities;